.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
_config.yml
package-lock.json
tsconfig.json
tslint.json
**/*.gif
ACKNOWLEDGEMENTS.md
docs/gifs/**
docs/imgs/**
.github
openspec/**
!resources/review/**
